/* Definindo uma fonte sem serifa globalmente */
* {

}

.about {
  padding: 80px 0; /* Ajuste do padding */
  background-color: #f7f7f7; /* Cor de fundo */
}

.container {
  width: 100%;
  max-width: 1200px; /* Limitação da largura */
  margin: 0 auto;
  padding: 0 20px; /* Padding nas laterais */
  h2 {
    text-align: center;
    margin-bottom: 60px; /* Distância entre o título e os cartões */
    font-size: clamp(2rem, 1.018rem + 1.202vw, 3rem);
    font-weight: 600; /* Ajustei a espessura da fonte */
    line-height: 1.3;
    color: #333; /* Cor escura para contraste */
    letter-spacing: -1px; /* Ajuste do espaçamento entre as letras */
    font-family: 'Poppins', sans-serif; /* Fonte sem serifa */
  }
}



.solutionsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* Grid responsivo */
  gap: 40px; /* Distância entre os itens */
}

.solutionItem {
  font-family: 'Poppins', sans-serif; /* Fonte sem serifa */
  position: relative;
  background-color: white;
  border-radius: 12px;
  padding: 50px 30px; /* Padding interno ajustado */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: all 0.3s ease;
  text-align: center;

  &:hover {
    transform: translateY(-10px); /* Efeito de elevação */
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15); /* Sombra mais forte ao passar o mouse */
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px; /* Largura do gradiente */
    background: linear-gradient(45deg, #3a0ca3, #f72585); /* Gradiente das bordas */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}

.solutionIcon {
  font-size: 50px; /* Tamanho do ícone */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px; /* Tamanho do círculo */
  height: 85px;
  border-radius: 50%;
  background: linear-gradient(45deg, #3a0ca3, #f72585); /* Gradiente para o círculo */
  color: white;
  margin: 0 auto 30px auto; /* Distância entre ícone e título */
}

.solutionItem h3 {
  font-size: 1.8rem; /* Tamanho do título nos cartões */
  font-weight: 600;
  margin-bottom: 20px; /* Distância do título para o texto */
  color: #222; /* Cor do texto */
}

.solutionItem p {
  font-size: 1.1rem; /* Tamanho do texto */
  line-height: 1.7; /* Espaçamento entre as linhas */
  color: #555; /* Cor do texto */
}

/* Responsividade para dispositivos menores */
@media (max-width: 768px) {
  .about {
    padding: 60px 0; /* Padding ajustado */
    
    .container {
      flex-direction: column;
      max-width: 70%;
    }
  }

  .solutionsGrid {
    grid-template-columns: 1fr; /* Uma coluna para dispositivos menores */
    gap: 30px; /* Distância entre os itens */
  }

  .solutionItem {
    padding: 40px 25px; /* Padding interno reduzido */
  }

  h2 {
    font-size: 2.8rem; /* Tamanho do título ajustado para telas menores */
  }

  .solutionItem h3 {
    font-size: 1.6rem; /* Tamanho do título reduzido */
  }

  .solutionItem p {
    font-size: 1rem; /* Texto reduzido */
  }
}
